<?xml version="1.0"?>
<ruleset name="DBTNG Migrator 2">
  <description>Drupal coding standards for DBTNG Migrator 2.</description>
  <file>src</file>
  <file>tests</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme"/>
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
